/* ESTILOS CALCULADORA*/
.calculator-card{
    display: flex;
    justify-content: start;
    padding: -2%;
    margin: 1%;
    height: 60%;

    width: 100%;
}
.calculator-text{
    background-color: rgb(26, 20, 20, 0.4);
    border: 1px solid white;
    margin-bottom: 30px;
    padding: 2%;
    font-size: 15px;
    height: 70%;
    width: 96%;
}

.calculator-box form {
    display: flex;
    justify-content: space-between;
    background-color: #113272;
    border-radius: 2%;
    border: 1px solid white;
}
.form-row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.calculator-box fieldset {
    border: none;
}
.calculator-box legend{
    font-size: 20px;
    background-color: #0d2350;
    border-radius: 5%;
    background: linear-gradient(45deg, #0d2350, #073ca5);
}
.calculator-box form label {
    height: 60%;
    background-color: #526fa8;
    border-radius: 3%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 13px 8px ;
    width: 30%;
}
.calculator-box form input {
    height: 60%;
    font-size: 14px;
    margin: 15px 0 13px;
    border-radius: 2%;
    width: 25%;
    background-color: white;
    display: inline-block;
    padding: 6px;
    border: none;
    color: black;
}
.calculator-result{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    padding: 1%;
    border-radius: 3%;
    background-color: #0d2350;
    border: none;
}
.form-row button{
    margin: 2%;
    padding: 1%;
    border-radius: 3%;
    font-size: 20px;
    background-color: #0d2350;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#calc-result{
    padding: 5px;
}

.incorrect{
    background-color: rgb(172, 56, 56);;
}
.correct{
    background-color: rgb(46, 116, 69);
}
