/* ESTILOS GLOBAIS */
* {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: white;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
hr{
    display: none;
}
h2{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
/* ESTILOS HEADER*/
.bcc-header-container header{
    display: flex;
    background-color: #113272;
}
.header-logo{
    display: flex;
    justify-content: center;
    background-color: #112958;
}
.header-nav{
    position: relative;
    margin-top: 25px;
}
.nav-items{
    display: flex; 
    align-items: flex-start;
    border-top: 1px solid white;
    background-color:rgba(50, 80, 138, 0.3);
    list-style: none;
}
.nav-items li{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 1.2vw;
}
/* ESTILOS MAIN */
.bcc-main-content{
    padding: 20px;
    background: url("../assets/img/imagem_de_fundo.png");
}
.sec-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2% 0%;
}
.content-card{
    display: flex;
    justify-content: start;
    padding: -2%;
    margin: 5%;
}
.content-text{
    background-color: rgb(26, 20, 20, 0.4);
    border: 1px solid white;
    margin-right: 20px;
    padding: 20px;
}
/* ESTILOS CALCULADORA */
.calculator-card{
    display: flex;
    justify-content: start;
    margin: 3%;
    height: 60%;
}
.calculator-text{
    background-color: rgb(26, 20, 20, 0.4);
    border: 1px solid white;
    padding: 1%;
    font-size: 15px;
    width: 50%;
}
.calculator-box{
    width: 50%;
    margin: 0 30px;
}
.calculator-box form {
    background-color: #113272;
    border: 1px solid white;
}
.form-row{
    display: flex;
    align-self: center;
}
.calculator-box label, input{
    margin: 10px;
    height: 40px;
}
.calculator-box input{
    color: black;
}
.calculator-box fieldset {
    border: none;
}
.calculator-result{
    font-size: 20px;
    margin: 2%;
    padding: 1%;
    background-color: #0d2350;
}
.form-row button{
    margin: 2%;
    padding: 1%;
    font-size: 20px;
    background-color: #0d2350;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

/* ESTILOS FOOTER*/
.bcc-footer-conteiner footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #113272;
}

/* PSEUDOSELETORES */
.nav-items li a:hover{
    color: #8aa9e7;
}
.calculator-box button:hover{
    background-color: #526fa8;
}