.login-background{
    display: flex;
    justify-content: center ;
    padding: 50px;
    padding-bottom: 140px;
    background: url("../img/imagem_de_fundo.png");
}
#login{
    background-color: red;
    display: flex;
    justify-content: center;
    padding: -2%;
    margin: 5%;
    width: 50%;
}

#login form {
    flex-grow: 1;
    justify-content: space-between;
    background-color: #113272;
    border-radius: 2%;
    border: 1px solid white;
}
.form-inputs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#login form label {
    background-color: #526fa8;
    border-radius: 3%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 13px 8px ;
    width: 30%;
}
#login form input {
    height: 60%;
    font-size: 18px;
    margin: 15px 0 13px;
    border-radius: 2%;
    width: 25%;
    background-color: white;
    display: inline-block;
    padding: 6px;
    border: none;
    color: black;
}
#login button{
    margin: 2%;
    padding: 1%;
    border-radius: 3%;
    font-size: 20px;
    background-color: #0d2350;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
#login button:hover{
    background-color: #526fa8;
    animation-duration: 0.2s;
    transform: scale(1.10);
}
#login button:active{
    background-color: #0070e7;
}